* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../assets/bg.png") center/cover no-repeat;
}

header {
    width: 100%;
    height: 80vh;
    background-image: url('https://img.freepik.com/premium-photo/pastel-tone-purple-pink-blue-gradient-defocused-abstract-photo-smooth-lines-pantone-color-background_49683-4612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px 0; */
}


.search {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    /* border-bottom: 1px solid black; */
}


input:focus {
    background-color: transparent;
    outline: none;
}

input:enabled {
    background-color: transparent;
}

input {
    font-size: 20px;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#search-input {
    width: 300px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
}

#search-btn {
    /* background-image: url(); */
    width: 50px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: 3px solid black; */
}


.card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin: 50px 20px 50px 20px;
}

.movie-card {
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24); */
    margin: 20px;
    /* padding: 20px; */
    width: 300px;
    height: 450px;
    justify-self: center;
    /* background-color: bisque; */
    border-radius: 10px;
    cursor: pointer;
    user-select: none;

    position: relative;
}

.movie-card img {
    width: 100%;
    height: 450px;
    /* border-radius: 10px; */
}

.card-text {
    /* padding: 15px 20px;
    background-color: #444444;
    border-radius: 5px;
    color: #ffffff;
    display: none;
    position: absolute; */

    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

/* .card-img:hover+.card-text {
    display: block;
} */

.movie-card:hover .card-text {
    opacity: 1;
}

.movie-card .card-text h3 {
    font-size: 30px;
    padding-bottom: 0.4em;

    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 모든 글자를 대문자로 바꿈 */
    text-transform: uppercase;
}

.movie-card .card-text p {
    font-size: 15px;
    white-space: normal;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* 모든 글자를 기본값으로 바꿈 */
    text-transform: initial;
}

.movie-card .card-text h2 {
    font-size: 40px;
    padding-bottom: 0.4em;
}

h3 {
    margin: 10px auto 10px auto;
}